<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <%- include('_inc_head') %>
        <link rel="stylesheet" href="stylesheets/style2.css" />
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit-icons.min.js"></script>
</head>

<body style="background-color: #F1F1F1;">
    <header>
        <div class="uk-navbar-left" style="background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <a class="uk-navbar-item uk-logo" href="#">
                <img src="images/logoo.png" alt="" width="200px" height="200px" style="margin-left:160px;" />
            </a>

            <div class="uk-button-group">
                <button class="uk-button uk-button-default">Category</button>
                <div class="uk-inline">
                    <button class="uk-button uk-button-default" type="button">
            <span uk-icon="icon:  triangle-down"></span>
          </button>
                    <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">JAVA</a></li>
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">CSS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-navbar-item">
                <form class="uk-search uk-search-navbar" style="border: 2px solid; width: 500px; height: 40px; color:#D3D3D3; border-radius: 3px;">
                    <span uk-search-icon></span>
                    <input class="uk-search-input" type="search" placeholder="Search" />
                </form>
            </div>
            <a href="./logout"><button class="btn btn-dar" style="width: 150px">Se deconnecter</button></a>
        </div>

    </header>
</body>

</html>